.order {
  display: flex;
  padding: 20px;
  background-color: white;
  height: 130vh;
  justify-content: space-between;
}

.order-title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.order-column {
  display: flex;
  flex-direction: column;
}

.order-left {
  margin-left: 50px;
}

.order-right {
  margin-right: 50px;
}

.order-form-container {
  margin-top: 40px;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.order-form-container > form > h5 {
  margin-bottom: 5px;
}

.order-form-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  padding-left: 8px;
}

.order-form-container > form > select {
  height: 36px;
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: white;
  width: 100%;
  padding-left: 8px;
}

.place-order-button {
  background: #d7e4fe;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #264770;
  border-color: #264770;
  cursor: pointer;
}

.cancel-button {
  background: #f3f3f3;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-bottom: 20px;
  color: black;
  border-color: lightgray;
  cursor: pointer;
}

@media (max-width: 900px) {
  .order {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .order-form-container {
    width: 80%;
  }
}
