.order-history {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  height: max-content;
  justify-content: space-between;
}

.order-history-title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.order-history-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
}

.order-history-table th,
.order-history-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #8ca3bf;
}

.order-history-table th {
  background-color: #d7e4fe;
  color: #264770;
}
